**/.DS_Store
1raEntrega/FONT/src/FONT.iml
1raEntrega/FONT/src/.idea/
1raEntrega/FONT/src/out/
**/.idea/
1raEntrega/FONT/out/
1raEntrega/FONT/FONT.iml
1raEntrega/**.iml
subgrup-prop41.4.iml
1raEntrega/out